plugins/BadAssCompany/assetbundles/baddassaudio
LogOutput.log
config/com.weliveinasociety.CustomEmotesAPI.cfg
cache/
config/ControlCompany.ControlCompany.cfg
plugins/ControlCompany
plugins/ControlCompany.dll